{% extends "rockermind/welcome_template.html" %}

{% load static %}

{% block welcome_body %}

<div id="motivation">
    <br>
    <h1>About the site</h1>
    <br>

    <p>All my life I have loved music, so when I read the specification of the last project of CS50 Web 
    Programming with Python and JavaScript, I knew inmediatly that I had to do something related
    to music. One year ago, my estimated friend, and music dreamer, Andrés Padilla Solano, told me about an idea. 
    He tought could be cool if would exist a page in where you were able to find concerts, maybe know some new 
    music and promote the local underground scene. So, that was my inspiration for this site! I know it is too hard make a way in the music world, so this 
    is my way of paying tribute to my good musician friends.</p>
    <br>
    <h3>Please never stop dreaming!</h3>

    <br>
    <img src="{% static 'rockermind/images/concert_gy.jpg' %}" alt="Generación Y" 
    style="width: 50%; display: block; margin-left: auto; margin-right: auto; margin-bottom: 50px;">

</div>

{% endblock %}
