{% extends "rockermind/owner_template.html" %}

{% load static %}

{% block owner_head %}
<script src="{% static 'rockermind/javascript/owner_events.js' %}"></script>
{% endblock %}


{% block owner_body %}

<div class="container_profilePage" style="margin-top:50px; margin-bottom: 50px;">

    <h1>{{ place_name }}</h1>
    <br>
    <img src="data:image/png;base64,{{ place_img }}" alt="{{ place_name }}" style="width: 70%;">
    <br>
    <br>
    <br>
    <h2>Location</h2>
    <p>{{ location }}</p>

</div>
{% endblock %}
