{% extends "rockermind/index_template.html" %}

{% load static %}

{% block title %}
Rockermind
{% endblock %}

{% block head %}
  <script src="{% static 'rockermind/javascript/welcome.js' %}"></script>
  
  {% if message %}
  <script>
    alert("{{message}}");
  </script>
  {% endif %}
{% endblock %}


{% block options %}
<div class="col d-flex justify-content-center">
    <a href="{% url 'rockermind:motivation' %}">Motivation</a>
</div>
<div class="col d-flex justify-content-center">
    <a style="cursor:pointer;" data-toggle="modal" data-target="#randomModal" onclick="getRandom_band()">
        Show me a band</a>
</div>
<div class="col d-flex justify-content-center">
    <a style="cursor:pointer;" onclick="openForm()">Sign in</a>
</div>
<div class="col d-flex justify-content-center">
    <a href="{% url 'rockermind:sign_up' %}">Sign up</a>
</div>
{% endblock %}

{% block body %}

<div class="form-popup" id="myForm">
    <form action="{% url 'rockermind:index' %}" method="post" class="form-container">
        {% csrf_token %}
        <h1>Login</h1>

        <label for="email"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <select class="form-control" name="role" style="margin-bottom: 25px;">
            <option value="Fan">Fan</option>
            <option value="Rockstar">Rocker</option>
            <option value="Owner">Place Owner</option>
        </select>

        <button type="submit" class="btn">Login</button>
        <button type="button" class="btn cancel" id="close_login" onclick="closeForm()">Close</button>
    </form>
</div>

{% block welcome_body %}
{% endblock %}

<!-- Pop-Up -->
<div class="container">
  <div class="modal fade" id="randomModal" role="dialog">
    <div class="modal-dialog">
          <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Random band</h4>
        </div>
        <div class="modal-body">
          <h3 id="random_band_name" style="font-weight: bold;"></h3>
          <br>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe id="random_band_song" class="embed-responsive-item" src="" frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <br>
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal"
          style="background-color: #4FC9EE; border-color: #4FC9EE;">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<!-- Pop-Up Finish-->

{% endblock %}
